.primary-btn {
  color: #ffffff;
  font-weight: 700;
  border-style: none;
  background-color: #3cb3ab;
  border-radius: 33.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 1s;
}

.primary-btn:hover {
  background-color: #147a73;
  transition: background-color 1s;
  cursor: pointer;
}

.btn-large {
  font-size: 16px;
  line-height: 20px;
  width: 214px;
  height: 56px;
}

.secondary-btn {
  border-style: none;
  background-color: #ffffff;
}

.secondary-btn:hover {
  cursor: pointer;
}

.btn-medium {
  width: 157px;
  height: 48px;
  display: flex;
  align-items: center;
}

.btn-medium-disabled,
.btn-medium-disabled:hover {
  background-color: rgba(47, 47, 47, 0.5);
  pointer-events: none;
}

@media screen and (min-width: 768px) {
  .btn-large {
    width: 204px;
  }

  .secondary-btn {
    width: 176px;
    height: 56px;
    display: flex;
    align-items: center;
    border-radius: 33.5px;
    background-color: rgba(47, 47, 47, 0.05);
  }
}
