.backproject-section {
  padding: 52px 24px 40px 24px;
  text-align: center;
}

.logo-mastercraft {
  position: absolute;
  top: -28px;
  left: 50%;
  right: 50%;
  transform: translate(-50%);
}
.title-box {
  padding: 0 20px;
}

.description {
  padding: 16px 0 24px 0;
}

@media screen and (min-width: 768px) {
  .backproject-section {
    padding: 56px 48px 48px 48px;
  }
}
