.backproject-section {
  padding: 52px 24px 40px 24px;
  text-align: center;
}

.logo-mastercraft {
  position: absolute;
  top: -28px;
  left: 50%;
  right: 50%;
  transform: translate(-50%);
}
.title-box {
  padding: 0 20px;
}

.description {
  padding: 16px 0 24px 0;
}

.button-section {
  display: flex;
  gap: 9px;
}

.bookmark-title {
  display: none;
}

.bookmark-icon-web {
  display: none;
}

@media screen and (min-width: 768px) {
  .backproject-section {
    padding: 56px 48px 48px 48px;
  }

  .description {
    padding: 15px 0 40px 0;
  }

  .button-section {
    justify-content: space-between;
  }
  .bookmark-title {
    display: block;
    padding-left: 16px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #7a7a7a;
  }

  .bookmark-icon-mobile {
    display: none;
  }

  .bookmark-icon-web {
    display: block;
  }
}
