.main-card {
  background-color: #f2f2f2;
  position: absolute;
  top: 244px;
  left: 50%;
  transform: translate(-50%, 0);
  min-width: 327px;
  max-width: 730px;
  border-radius: 8px;
}

.backed-details-section {
  padding: 24px 0;
}

@media screen and (min-width: 768px) {
  .main-card {
    top: 308px;
    width: 730px;
  }
}
